<%= form_with(model: ema) do |form| %>
  <% if ema.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ema.errors.count, "error") %> prohibited this ema from being saved:</h2>

      <ul>
        <% ema.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= form.label :body, class: 'form-control' %>
    <%= form.text_area :body %>
  </div>

  <div class="form-group" >
    <%= form.label :name, class: 'form-control', rows: 10 %>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
